<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Jedi</title>

 <!-- <link rel="stylesheet" href="~/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>
<body class="text-center">

<!-- <div class="row d-flex justify-content-center"> -->




<div>

<h1>Novo Cadastro</h1>

<form th:action="@{/jedi}" th:object="${jedi}" method="post">
  <input type="text" name="name"     th:field="*{name}"     th:placeholder="Nome"/> <br/>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
  <br/>

  <input type="text" name="lastName" th:field="*{lastName}" th:placeholder="Sobrenome"/> <br/>
  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</span>
  <br/>

  <input type="text" name="idade" th:field="*{idade}" th:placeholder="Idade"/> <br/>
  <span th:if="${#fields.hasErrors('idade')}" th:errors="*{idade}">Idade Error</span>
  <br/>


  <button type="typ-submit" class="btn btn-primary">Criar novo usuário</button>

</form>

<br>

<a th:href="@{/jedi}">Lista de Pessoas</a>
</div>
</body>
</html>