<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Jedi</title>

 <!-- <link rel="stylesheet" href="~/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>

<!-- <div class="row d-flex justify-content-center"> -->


<div class="text-center">

<h1>Novo Cadastro</h1>

<form th:action="@{/jedi}" th:object="${jedi}" method="post">
  <input type="text" name="name"     th:field="*{name}"     th:placeholder="Nome"/> <br/>
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
  <br/>

  <input type="text" name="lastName" th:field="*{lastName}" th:placeholder="Sobrenome"/> <br/>
  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</span>
  <br/>

  <input type="text" name="email" th:field="*{email}" th:placeholder="email"/> <br/>
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Idade Error</span>
  <br/>

  <input type="text" name="telefone" th:field="*{telefone}" th:placeholder="Telefone"/> <br/>
  <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Telefonee Error</span>
  <br/>


  <button type="typ-submit" class="btn btn-primary">Criar novo usuário</button>

</form>

<br>
  <br>

<a class="bi bi-list-ul" th:href="@{/jedi}">Lista de Pessoas
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  </svg>
  </a>

</div>

</body>

</html>